@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("@/assets/images/main_bg_4.jpg");
  color: white;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 20px;
    margin-top: 30px;
    background: rgba(60, 7, 147, 0.8);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25),
    -3px -3px 6px rgba(255, 255, 255, 0.15);
    border-radius: 10px;

    .search-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      :deep(.search-select ) {

      }

      .search-box {
        flex-grow: 1;
        margin-right: 20px;
        --el-input-bg-color: #5805ed; // Element Plus背景颜色
        --el-input-text-color: #fff; // Element Plus文本颜色
        --el-input-border-color: #fff;
      }

      .user-avatar {
        width: 60px;
        height: 40px;
      }
    }
  }

  .content {
    flex-grow: 1;
    width: 80%;
    display: flex;
    background: rgba(60, 7, 147, 0.8);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25),
    -3px -3px 6px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: auto;

    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item-image {
        height: 160px;
      }

      .item-title {
        font-size: 20px;
        color: white;
      }
    }

    .pagination {
      padding: 10px;
      background: #3c0793;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25),
      -3px -3px 6px rgba(255, 255, 255, 0.15);
      border-radius: 10px;
    }
  }
}
