@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("@/assets/images/main_bg_4.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 20px;
    margin-top: 30px;
    background: rgba(60, 7, 147, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .search-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px; // 统一字体大小
      gap: 10px;

      .el-select, .el-date-picker, .el-input {
        border: 1px solid #ffffff; // 统一边框样式
        background: rgba(255, 255, 255, 0.1); // 调整背景色
        border-radius: 5px; // 统一边框圆角
      }
      .user-avatar {
        width: 40px; /* 确保头像的宽度为固定值 */
        height: 40px; /* 确保头像的高度为固定值 */
        border: 1px solid #ffffff; /* 添加白色边框以增强可见性 */
        overflow: hidden; /* 确保头像图片内容不超出圆形区域 */
      }
    }
  }

  .content {
    flex-grow: 1;
    width: 80%;
    display: flex;
    background: rgba(60, 7, 147, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    overflow: auto;

    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item-image {
        height: 160px;
      }

      .item-title {
        font-size: 18px; // 增大标题字体大小
        line-height: 1.5; // 增加行间距
        color: white;
      }
    }
  }
}
