$primary-color: #6A0DAD; // 主要紫色
$secondary-color: #A044FF; // 辅助紫色
$background-color: #ffffff; // 背景颜色
$text-color: #000000; // 文字颜色
$scrollbar-background: rgba(0, 0, 0, 0.1); // 滚动条轨道背景颜色
$scrollbar-thumb-background: rgba(106, 13, 173, 0.5); // 滚动条滑块背景颜色，使用主要紫色的半透明版本
